
.shooting-link{
    position: relative;
    &:after{
        display: block;
        position: absolute;
        content: "";
        width: 0;
        right: 0;
        height: 1px;
        bottom: -3px;
        background: #333;
        transition: all .3s;
    }
    &:hover{
        &:after{
            left: 0;
            right: auto;
            transform-origin: right;
            width: 100%;
        }
    }
}


.shooting-link--bye{
    @extend .shooting-link;
    &:after{
        width: 100%;
        left: 0;
        right: auto;
    }
    &:hover{
        &:after{
            left: auto;
            right: 0;
            width: 0%;
        }
    }
}


.shooting-link--back{
    @extend .shooting-link;
    &:after{
        left: 0;
        right: auto;
    }
}








.btn-capsule{
    a{  
        display: inline-block;
        position: relative;
        text-align:center;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 800;
        font-family:$font-family-Montserrat;
        letter-spacing: 5px;
        text-decoration: none;
        border: #fff solid 2px;
        padding: 0 39px;
        width:100px;
        height: 36px;
        line-height: 36px;
        border-radius: 50px;
        overflow: hidden;
        transition: all .6s;
        transition-delay: .1s;
        span{
            padding-left:-4px;
        }
        &:before, &:after{
            position: absolute;
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            top: 17px;
            transition: all .2s;
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }
        &:hover{
        	// padding: 0 49px;
        	background:$pure-white;
        	color:$color-space;
	        span{
				position:relative;
	    		// animation: toBottomBounce 0.3s ease 0s 1 normal both;
	        }
	        &:before{
	            width: 0 !important;
	        }
	        &:after{
	            width: 0 !important;
	        }
        }
    }
}

.btn-capsule--icon{
    @extend .btn-capsule;
    a{  
        width:150px;
        padding: 0 19px;
        &:before, &:after{
            display:none;
        }
        .fa{
            font-size:1.8rem;
            padding-right:10px;
        }
    }
}



// @keyframes toBottomBounce{
// 	0%{
// 	}
// 	100%{
// 		padding-left: 20px;
// 		padding-right: 20px;
// 	}
// }

//.icon-arrow{
//	position:relative;
//	&:before{
//        border: solid 10px transparent;
//        border-left: solid 10px $color-link;
//        border-top: solid 6px transparent;
//        border-bottom: solid 6px transparent;
//	    content: "";
//	    display:inline-block;
//	    height: 0;
//	    position: relative;
//	    width: 0;
//	}
//	&.icon-arrow--white{
//		&:before{
//	        border-left: solid 10px #fff;
//	    }
//	}
//}
//.icon-arrow--mini{
//	@extend .icon-arrow;
//	left: 5px;
//	&:before{
//		border-width: 8px;
//		border-top-width: 5px;
//		border-bottom-width: 5px;
//	}
//
//}
//
//
//.btn{
//	a,input[type="submit"]{
//		display:inline-block;
//		color: #fff;
//		border:$color-bder-grey solid 1px;
//		background:$color-grey;
//		border-radius: 3px;
//		text-align: center;
//		font-size:1.8rem;
//		line-height: 1.4;
//		padding:16px;
//		min-width: 240px;
//        transition: all 300ms ease;
//		.main-post &{
//			font-size:1.5rem;
//			padding:12px 16px;
//			// margin-bottom: 1em;
//			@include max-screen($breakpoint-tablet) {
//				font-size:1.3rem;
//			}
//		}
//        @include max-screen($breakpoint-tablet) {
//			font-size: 1.6rem;
//			padding:14px;
//			min-width: auto;
//			width:100%;
//        }
//  		&:hover{
//  			background:$color-bder-grey;
//		    .icon-arrow{
//		      &:before{
//		        border-left-color:inherit;
//		      }
//		    }
//  		}
//	}
//	&.btn-grey{
//		a,input[type="submit"]{	
//			background: $color-grey;
//			border:$color-bder-grey solid 1px;
//      		&:hover{
//				background: $color-bder-grey;
//      		}
//		}
//	}
//	&.btn-blue{
//		a,input[type="submit"]{	
//			background: $color-blue;
//			border:$color-bder-blue solid 1px;
//      		&:hover{
//				background: $color-bder-blue;
//      		}
//		}
//	}
//	&.btn-green{
//		a,input[type="submit"]{	
//			background: $color-green;
//			border:$color-bder-green solid 1px;
//      		&:hover{
//				background: $color-bder-green;
//      		}
//		}
//	}
//}
//




