html,body{

    overflow: hidden;
}
.page-smoothscroll{
    .wrap{
        // overflow: hidden;
        // height: 100vh;
    }
    h1{
        font-size: 10rem;
        margin:0 0 50px;
    }
    p {
        margin: 0 0 20px;
        line-height: 2;
    }

    .scroll-container {
        padding: 50px;
        position: absolute;
        overflow-y: scroll;
        top: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
        // transition: all 0.9s;
    }
}