// Glyphicons font path
$font-family: 'Noto Sans CJK JP','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

$font-family-Montserrat: 'Montserrat', Arial, Lato, Verdana, sans-serif;
$font-family-Rokkitt: 'Rokkitt', Arial, Verdana, sans-serif;
$font-family-Lato: 'Lato', Arial, Verdana, sans-serif;


// Grid settings
$main-md-columns:       12;
$sidebar-md-columns:    4;

// Breakpoint
$width-max          : 1365px;
$breakpoint-lg      : 1200px;
$breakpoint-md      : 970px;
$breakpoint-tablet  : 768px;
$breakpoint-mobile  : 640px;



// Alpha
$alpha              : 0.8;
$bd-radius          : 4px;

// Colors
$white : #ffffff;
$black : #000000;
$pure-white : #ffffff;
$color-white : #e6e9f8;
$color-space : #0b133b;
$color-space-black : #070c28;
$color-line : #293261;

$color-red : #d34718;
$color-blue : #4864ef;
$color-yellow : #d6c20b;
$color-green : #0ab82f;

.tright{
	text-align: right;
}

// Mixin Setting
@mixin bder-radius($radi: $bd-radius){
	border-radius:$radi;
}

// @mixin white-box {
//   @include border-radius(8px);
//   background-color: $pure-white;
//   padding: 2.4em;
//   overflow: hidden;
//   margin-bottom: 2em;
// }

// @mixin white-box-sidebar {
//   @include border-radius(8px);
//   background-color: $pure-white;
//   padding: 1.4em;
//   overflow: hidden;
//   margin-top: 2em;
// }

// @mixin btn {
//   @include border-radius(8px);
//   display: inline-block;
//   background: $red;
//   border:1px solid $red;
//   color: $white;
//   #{&}:hover{
//     border:1px solid $red;
//     color: $red;
//     background: $white;
//     text-decoration: none;
//   }
// }

// @mixin transition($transition...) {
//     -moz-transition:    $transition;
//     -o-transition:      $transition;
//     -webkit-transition: $transition;
//     transition:         $transition;
// }

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

// @mixin screen($break-point-min, $break-point-max) {
//   @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
//     @content;
//   }
// }

.is-invisible-tablet{
    @include max-screen($breakpoint-tablet) {
    	display:none !important;
    }
}

.is-visible-tablet{
	display:none;
    @include max-screen($breakpoint-tablet) {
    	display:block;
    }
}


